@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to the Awesomesoft Meeting application!</h2>
    <h4>Select the 'Users' tab to see users, the 'Meetings' tab to see meetings and the 'Rooms' tab to see the rooms.</h4>
</div>